@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@layer base {
  #root {
    @apply w-[100vw] h-[100vh] overflow-x-hidden;
  }
  body {
    @apply box-border w-full h-full p-0 m-0;
  }
}

@layer components {
  .btn-primary {
    @apply font-bold text-white bg-primary;
  }
  .btn-lg {
    @apply w-full px-6 py-4 rounded-sm text-300;
  }
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .transition-200 {
    @apply transition-all duration-200 ease-in-out;
  }
  .hero-text {
    @apply text-850 lgTab:text-900 lg:text-950;
  }
  .large-text {
    @apply font-bold text-700 lgTab:text-700 lg:text-850;
  }
  .section-title {
    @apply font-bold text-650 lg:text-700;
  }
  .section {
    @apply container mx-auto mb-20;
  }
  .section-contained {
    @apply container px-4 mx-auto mb-20;
  }
}
