@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* React Modal Styling  */
.modal-open {
  overflow: hidden;
}
.ReactModal__Overlay {
  background-color: rgba(
    0,
    0,
    0,
    0.521
  ) !important; /* Semi-transparent overlay */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  z-index: 30 !important;
}
.react-responsive-modal-modal {
  @media (max-width: 480px) {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@layer base {
  #root {
    @apply w-[100vw] h-[100vh] overflow-x-hidden;
  }
  body {
    @apply box-border w-full h-full p-0 m-0;
  }
}

@layer components {
  .btn-primary {
    @apply font-bold text-white bg-primary;
  }
  .btn-lg {
    @apply w-full px-6 py-4 rounded-sm text-300;
  }
}

@layer utilities {
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .transition-200 {
    @apply transition-all duration-200 ease-in-out;
  }
  .hero-text {
    @apply text-850 lgTab:text-900 lg:text-950;
  }
  .large-text {
    @apply font-bold text-700 lgTab:text-700 lg:text-850;
  }
  .section-title {
    @apply font-bold text-650 lg:text-700;
  }
  .section {
    @apply container mx-auto mb-32;
  }
  .section-contained {
    @apply container px-4 mx-auto mb-32;
  }
  .input-style {
    @apply p-5 border rounded-lg bg-bgGray focus-within:outline-secondary;
  }
  .reciept {
    @apply p-3 border rounded-lg;
  }
  .customModal {
    @apply m-0 h-full w-full p-0 sm:h-auto sm:bg-white sm:shadow-lg sm:rounded-xl sm:p-10 sm:px-16 sm:pt-10  sm:w-[85%] md:w-[70%] lg:w-[50%] xl:w-[45%];
  }
}
